:root {
  --turquoise-blue: #00a2c2;
  --tealish: #24a4b4;
  --dark-blue-grey: #123a40;
  --tomato-red: #d01d00;
  --brownish-grey: #666666;
  --butterscotch: #fcb040;
  --nice-blue: #0e76bc;
  --berry: #9f1f63;
  --almost-black: #0a111a;
  --warm-grey: #888585;
  --squash: #f39a18;
  --white: #ffffff;
  --base-grey: #f2f2f2;
  --spacing-xxs: 4px;
}

body {
  background-color: var(--base-grey);
  min-height: 100vh;
}

.navbar-rombus {
  height: 90px;
  background: var(--dark-blue-grey);
}

ul {
  align-items: center;
}

.nav-link-menu {
  height: 208px;
  font-family: 'Open Sans', sans-serif;
  font-size: .7em;
  color: var(--white);
  padding: .5rem 1rem;
}

a.nav-link-menu {
  text-decoration: none;
}

a.nav-link-menu:hover {
  color: var(--turquoise-blue);
}

.btn-publicar {
  background-color: var(--tealish);
  border: solid 1px var(--white);
  border-radius: 2.5em;
  color: var(--white);
  font-size: .7em;
  width: 208px;
  height: 36px;
  letter-spacing: 1.7px;
  padding: .6rem 1.9rem;
}

.btn-publicar:hover {
  background-color: #208c9a;
  border: 1px solid #208c9a;
  text-decoration: none;
}

.perfil img {
  border-radius: 50%;
  padding: .5rem 1rem;
  height: 59px;
}

#hero {
  padding-bottom: 50;
}

.section-partes {
  display: flex;
  margin-top: 80px;
}

.section-vista {
  display: flex;
  margin-top: 80px;
  align-items: center;
}

.number-partes {
  border-radius: 50%;
  color: var(--white);
  width: 39px;
  height: 39px;
  background-color: var(--turquoise-blue);;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 1.5em;
}

.parrafo-partes {
  color: var(--turquoise-blue);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
}

.parrafo-vista {
  color: #f0058d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  margin-left: 17px;
}

.section-proyecto {
  margin-top: 80px;
}

.title-proyecto {
  font-size: 2.2em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:var(--almost-black);
  line-height: 46px;
  margin-bottom: 0;
}

.parrafo-proyecto {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 46px;
  margin-bottom: 0;
}

.sub-parrafo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .8em;
  line-height: 46px;
  margin-bottom: var(--spacing-xxs);
}

label.title-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .8em;
}

.form-control {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .9rem;
}

.obligatorio {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 11px;
  margin: 0;
}

.btn-c {
  background-color: var(--tealish);
  border: 1px solid var(--tealish);
  display: block;
  width: 200px;
  height: 50px;
}

.btn-c:hover {
  background-color: #208c9a;
  border: 1px solid #208c9a;
  color
}

a.btn-continuar {
  color: var(--white);
  text-decoration: none;
}

.contenedor-paginacion {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
}

/* .contendor-paginacion.uploader {
  margin-top: 100px;
  height: 150px;
} */

.online {
  display: block;
  text-align: center;
  align-content: center;
  padding: 10px 0;
}

.text-fileonline {
  padding-top: 9px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.delete {
  color: var(--turquoise-blue);
  padding-left: var(--spacing-xxs);
  font-size: 18px;
}

.input-group>.custom-file {
  display: flex;
  position: relative;
  /* align-items: center; */
  height: 139px;
}

.contenedor-servicios {
  display: flex;
}

a.link-paginacion {
  text-decoration: none;
  color: var(--turquoise-blue);
}


.box-servicios {
  background-color: var(--white);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 173px;
  position: relative;
  padding: 0 10px;
}

.box-estrategia {
  background-color: var(--tomato-red);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 173px;
  position: relative;
}

.box-diseño {
  background-color: var(--butterscotch);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 173px;
  position: relative;
  color: var(--white);
}

.box-publicidad {
  background-color: var(--nice-blue);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 173px;
  position: relative;
  color: var(--white);
}

.box-programacion {
  background-color: var(--berry);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 173px;
  position: relative;
  color: var(--white);
}

.box-profesional {
  background-color: var(--tealish);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 173px;
  position: relative;
  color: var(--white) !important;
}

i.fas {
  position: absolute;
  left: 43%;
  top: 25%;
}

a.icon-servicios {
  color: #575559;
  text-decoration: none;
}
a.icon-modalidad {
  color: #000;
}

a.icon-estrategia {
  color: var(--white);
  text-decoration: none;
}

.title-servicios {
  text-align: center;
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #575559;
}

.title-modalidad {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: var(--almost-black);
}


.title-estrategia {
  text-align: center;
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.title-diseño {
  text-align: center;
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.title-publicidad {
  text-align: center;
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.title-programacion {
  text-align: center;
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.title-profesional {
  text-align: center;
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  padding-left: 10px;
  padding-right: 10px;
}

.area-elegida {
  padding: 20px 0;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--almost-black);
}


ul li {
  list-style: none;
}

ul.menu-estrategia {
  padding-left: inherit;
  width: 402px;
  /* border: 1px solid red; */
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

ul.menu-diseño {
  padding-left: inherit;
  width: 402px;
  /* border: 1px solid red; */
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

ul.menu-publicidad {
  padding-left: inherit;
  width: 402px;
  /* border: 1px solid red; */
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

ul.menu-programacion {
  padding-left: inherit;
  width: 402px;
  /* border: 1px solid red; */
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

li.lista-servicios {
  background-color: var(--white);
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 400px;
}

li.lista-diseño {
  background-color: var(--white);
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 400px;
}

li.lista-publicidad {
  background-color: var(--white);
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 400px;
}

li.lista-programacion {
  background-color: var(--white);
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 400px;
}

li.lista-servicios a {
  color: var(--almost-black);
  display: block;
  padding: 6px 10px;
  height: 40px;
  font-size: 15px;
}

li.lista-diseño a {
  color: var(--almost-black);
  display: block;
  padding: 6px 10px;
  height: 40px;
  font-size: 15px;
}

li.lista-publicidad a {
  color: var(--almost-black);
  display: block;
  padding: 6px 10px;
  height: 40px;
  font-size: 15px;
}

li.lista-programacion a {
  color: var(--almost-black);
  display: block;
  padding: 6px 10px;
  height: 40px;
  font-size: 15px;
}

li.lista-servicios a:hover {
  background-color: var(--tomato-red);
  color: var(--white);
  text-decoration: none;
  margin-left: 0px;
}

li.lista-diseño a:hover {
  background-color: var(--butterscotch);
  color: var(--white);
  text-decoration: none;
  margin-left: 0px;
}

li.lista-publicidad a:hover {
  background-color: var(--nice-blue);
  color: var(--white);
  text-decoration: none;
  margin-left: 0px;
}

li.lista-programacion a:hover {
  background-color: var(--berry);
  color: var(--white);
  text-decoration: none;
  margin-left: 0px;
}

ul.menu-estrategia li.lista-servicios .submenu {
  background-color: var(--white);
  display: none;
  height: 560px;
}

ul.menu-diseño li.lista-diseño .submenu-diseño {
  background-color: var(--white);
  display: none;
  height: 600px;
}

ul.menu-publicidad li.lista-publicidad .submenu-publicidad {
  background-color: var(--white);
  display: none;
  height: 360px;
}

ul.menu-programacion li.lista-programacion .submenu-programacion {
  background-color: var(--white);
  display: none;
  height: 520px;
}

ul.menu-estrategia li.lista-servicios:hover > ul{
  display: block;
}

ul.menu-diseño li.lista-diseño:hover > ul{
  display: block;
}

ul.menu-publicidad li.lista-publicidad:hover > ul{
  display: block;
}

ul.menu-programacion li.lista-programacion:hover > ul{
  display: block;
}

ul.submenu {
  /* border: 1px solid red; */
  position: absolute;
  float: right;
  left: 100%;
  top: 0;
  margin-left: 2px;
  padding-left: 2px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

ul.submenu-diseño {
  position: absolute;
  float: right;
  left: 100%;
  top: -80px;
  margin-left: 2px;
  padding-left: 2px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

ul.submenu-publicidad {
  position: absolute;
  float: right;
  left: 100%;
  top: -120px;
  margin-left: 2px;
  padding-left: 2px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

ul.submenu-programacion {
  position: absolute;
  float: right;
  left: 100%;
  top: -40px;
  margin-left: 2px;
  padding-left: 2px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.parrafo-si-deseas {
  color: var(--almost-black);
  font-family: 'Open Sans', sans-serif;
}

.parrafo-comentario {
  color: var(--almost-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin-top: 30px;
}

.form-control {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  height: 38px;
  
}
.input-group-agregar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--brownish-grey);
  text-align: center;
  white-space: nowrap;
  color: var(--white);
}
.contenedor-etiquetas {
  display: flex;
}

.btn-etiqueta {
  background-color: var(--tomato-red);
  border: 1px solid var(--tomato-red);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  /* width: 400px; */
  height: 30px;
  font-size: .7em;
  /* border-radius: 0 10px 10px 0; */
  margin-right: 10px;
  clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
  padding-right: 20px;
  padding-left: 12px;
}

.btn-etiqueta.diseño {
  background-color: var(--butterscotch);
  border: 1px solid var(--butterscotch);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  /* width: 400px; */
  height: 30px;
  font-size: .7em;
  /* border-radius: 0 10px 10px 0; */
  margin-right: 10px;
  clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
  padding-right: 20px;
  padding-left: 12px;
}

.btn-etiqueta.publicidad {
  background-color: var(--nice-blue);
  border: 1px solid var(--nice-blue);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  /* width: 400px; */
  height: 30px;
  font-size: .7em;
  margin-right: 10px;
  clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
  padding-right: 20px;
  padding-left: 12px;
}

.btn-etiqueta.programacion {
  background-color: var(--berry);
  border: 1px solid var(--berry);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  /* width: 400px; */
  height: 30px;
  font-size: .7em;
  margin-right: 10px;
  clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
  padding-right: 20px;
  padding-left: 12px;
}

.btn-etiqueta:active {
  border:1px solid var(--tomato-red);
}

.btn-etiqueta .diseño:active {
  border:1px solid var(--butterscotch);
}

.btn-etiqueta .publicidad:active {
  border:1px solid var(--butterscotch);
}

.icono-cruz1 img {
  font-size: 15px;
  position: absolute;
  top: -3px;
  left: 6px;
  z-index: 10;
}

.icono-cruz2 img {
  font-size: 15px;
  position: absolute;
  top: -3px;
  left: 201px;
  z-index: 10;
}

.icono-cruz3 img {
  font-size: 15px;
  position: absolute;
  top: -3px;
  left: 301px;
  z-index: 10;
}

.icono-cruz4 img {
  font-size: 15px;
  position: absolute;
  top: -3px;
  left: 433px;
  z-index: 10;
}

.custom-upload-label {
  height: 100px;
  position: absolute;
  top: 0;
  border: 2px dashed var(--turquoise-blue);
  width: 100%;
  height: 139px;
  text-align: center;
}